body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --menu-buttons: Raleway;
  --font-inter: Inter;

  /* font sizes */
  --menu-buttons-size: 23px;

  /* Colors */
  --dark-background: #232323;
  --color-black: #000;

  /* Gaps */
  --gap-xl: 20px;

  /* Paddings */
  --padding-sm: 14px;
}
